.contactList {
  text-align: center;
  padding: 10px;
}
.contactList__header {
  text-align: center;
}

.contactList li:not(:last-child) {
  margin-bottom: 5px;
}

.contactList button {
  margin-left: 15px;
  padding: 2px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.contactList button:hover,
.contactList button:focus {
  color: white;
  background-color: rgb(66, 62, 62);
}
